<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ping Pong</title>
  </head>
  <body>
    <h1>This is our ping pong site:</h1>
    <div>
      <label for="user-imput">Enter a number to count to</label>
      <input id="user-input" type="number">
    </div>
    <div id="display-results">
    </div>
  </body>
</html>
